body {
    background-color: white;
    color: gray;
}
.board {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 30vmin;
    height: 30vmin;
    margin: 2px;
    display: table;
	padding: calc(4px + 0.5vw);
	transition: border 0.5s;
	border-radius: 8px;
}

.board.enabled {
	border: 2px solid slategray;
}

.board.disabled {
	border: 2px solid transparent;
}

.cell {
    width: calc(14px + 2.5vw);
    height: calc(14px + 2.5vw);
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    cursor: pointer;
}

.N {
    border-bottom: 2px solid aliceblue;
}

.S {
    border-top: 2px solid aliceblue;
}

.W {
    border-right: 2px solid aliceblue;
}

.E {
    border-left: 2px solid aliceblue;
}



.cell:hover {
    background-color: aliceblue
}

.x {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80%" height="80%" viewBox="0 0 24 24"><path fill="green" d="M24 3.752l-4.423-3.752-7.771 9.039-7.647-9.008-4.159 4.278c2.285 2.885 5.284 5.903 8.362 8.708l-8.165 9.447 1.343 1.487c1.978-1.335 5.981-4.373 10.205-7.958 4.304 3.67 8.306 6.663 10.229 8.006l1.449-1.278-8.254-9.724c3.287-2.973 6.584-6.354 8.831-9.245z"/></svg>');
    background-repeat: no-repeat;
}
  
.o {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="100%" width="100%"><circle cx="50%" cy="50%" r="40%" stroke="orange" stroke-width="15%" /></svg>');
    background-repeat: no-repeat;
}

div.marker {
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}